<div class="ui large form segment">

  <h3 class="ui header">Set number of floors and spots in Parking Lot: </h3>

  <form (ngSubmit)="submit()" [formGroup]="this.generatorForm">

    <div class="form-group">
      <mat-form-field>
        <mat-label>Floors:</mat-label>
        <input matInput type="number" min="1" name="floors" id="floors" class="floors" formControlName="floors">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Spots:</mat-label>
        <input matInput type="number" min="1" name="spots" id="spots" class="spots" formControlName="spots">
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" class="uppercase" [disabled]="this.generatorForm.invalid || this.isLoading">
      <span *ngIf="!this.isLoading">Generate</span>
      <span *ngIf="this.isLoading">Loading data...</span>
    </button>

  </form>
</div>



