/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.uppercase {
  text-transform: uppercase;
}

.mat-form-field + .mat-form-field, .mat-form-field + button  {
  margin-left: 8px;
}

.width-100 {
  width: 100%;
}

.margin-0 {
  margin: 0;
}

.d-flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

app-statistics {
  width: 100%;
}
