<mat-accordion class="example-headers-align width-100">

  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Number of employees for floors and their daily salary
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="getNumberOfEmployeesForFloorsAndTheirDailySalary()" [formGroup]="this.dailySalaryForm">
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Hourly salary</mat-label>
          <input matInput type="number" min="0" formControlName="hourlySalary" required>
          <span matSuffix>zł</span>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Spots</mat-label>
          <input matInput type="number" min="1" formControlName="spots" required>
        </mat-form-field>
      </p>

      <div class="d-flex flex-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="this.dailySalaryForm.invalid">
          Generate
        </button>
      </div>

      <div *ngIf="this.numberOfEmployeesForFloorsAndTheirDailySalaryData">
        <mat-list>
          <mat-list-item>
            Number of all employees:
            <strong>&nbsp;{{ this.numberOfEmployeesForFloorsAndTheirDailySalaryData.numberOfAllEmployees}}</strong>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item>
            Number of employees per floor:
            <strong>&nbsp;{{ this.numberOfEmployeesForFloorsAndTheirDailySalaryData.numberOfEmployeesPerFloor}}</strong>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item>
            Salary of one employee per day:
            <strong>&nbsp;{{ this.numberOfEmployeesForFloorsAndTheirDailySalaryData.salaryOfOneEmployeePerDay}}</strong>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item>
            Total price to pay per day:
            <strong>&nbsp;{{ this.numberOfEmployeesForFloorsAndTheirDailySalaryData.totalPriceToPayPerDay}}</strong>
          </mat-list-item>
        </mat-list>
      </div>
    </form>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>


  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Electricity consumption for car park
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="getElectricityConsumptionForCarPark()" [formGroup]="this.electricityConsumptionForCarParkForm">
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Cost</mat-label>
          <input matInput type="number" min="0" formControlName="cost" required>
          <span matSuffix>zł</span>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Energy consumption</mat-label>
          <input matInput type="number" min="0" formControlName="energyConsumption" required>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Start date</mat-label>
          <input matInput type="datetime-local" formControlName="startDate">
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>End date</mat-label>
          <input matInput type="datetime-local" formControlName="endDate">
        </mat-form-field>
      </p>

      <div class="d-flex flex-end">
        <button mat-raised-button color="primary" type="submit"
                [disabled]="this.electricityConsumptionForCarParkForm.invalid">
          Generate
        </button>
      </div>
    </form>


    <div *ngIf="this.electricityConsumptionForCarParkChart">
      <p>

      </p>
      <p>
      </p>
      <mat-list>
        <mat-list-item>
          Total energy consumption:
          <strong>&nbsp;{{this.electricityConsumptionForCarParkChart.totalEnergyConsumption}}</strong>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          Total energy cost: <strong>&nbsp;{{this.electricityConsumptionForCarParkChart.totalEnergyCost}}</strong>
        </mat-list-item>
      </mat-list>
      <div>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="this.electricityConsumptionForCarParkChart.datasets"
                  [labels]="this.electricityConsumptionForCarParkChart.labels"
                  [chartType]="this.electricityConsumptionForCarParkChart.chartType"
                  [options]="this.electricityConsumptionForCarParkChart.options">
          </canvas>
        </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="accent" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Electricity consumption for floor
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="getElectricityConsumptionForFloor()" [formGroup]="this.electricityConsumptionForFloorForm">
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Cost</mat-label>
          <input matInput type="number" min="0" formControlName="cost" required>
          <span matSuffix>zł</span>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Energy consumption</mat-label>
          <input matInput type="number" min="0" formControlName="energyConsumption" required>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Floor</mat-label>
          <input matInput type="number" min="0" formControlName="floor" required>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Start date</mat-label>
          <input matInput type="datetime-local" formControlName="startDate">
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>End date</mat-label>
          <input matInput type="datetime-local" formControlName="endDate">
        </mat-form-field>
      </p>

      <div class="d-flex flex-end">
        <button mat-raised-button color="primary" type="submit"
                [disabled]="this.electricityConsumptionForFloorForm.invalid">
          Generate
        </button>
      </div>
    </form>

    <div *ngIf="this.electricityConsumptionForFloorChart">
      <mat-list>
        <mat-list-item>
          Total energy consumption:
          <strong>&nbsp;{{this.electricityConsumptionForFloorChart.totalEnergyConsumption}}</strong>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          Total energy cost: <strong>&nbsp;{{this.electricityConsumptionForFloorChart.totalEnergyCost}}</strong>
        </mat-list-item>
      </mat-list>
      <div>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="this.electricityConsumptionForFloorChart.datasets"
                  [labels]="this.electricityConsumptionForFloorChart.labels"
                  [chartType]="this.electricityConsumptionForFloorChart.chartType"
                  [options]="this.electricityConsumptionForFloorChart.options">
          </canvas>
        </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="accent" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>


  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Electricity consumption for spot
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="getElectricityConsumptionForSpot()" [formGroup]="this.electricityConsumptionForSpotForm">
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Cost</mat-label>
          <input matInput type="number" min="0" formControlName="cost" required>
          <span matSuffix>zł</span>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Energy consumption</mat-label>
          <input matInput type="number" min="0" formControlName="energyConsumption" required>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Spot name</mat-label>
          <input matInput type="text" formControlName="spot" required>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Start date</mat-label>
          <input matInput type="datetime-local" formControlName="startDate">
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>End date</mat-label>
          <input matInput type="datetime-local" formControlName="endDate">
        </mat-form-field>
      </p>

      <div class="d-flex flex-end">
        <button mat-raised-button color="primary" type="submit"
                [disabled]="this.electricityConsumptionForSpotForm.invalid">
          Generate
        </button>
      </div>
    </form>

    <div *ngIf="this.electricityConsumptionForSpotChart">
      <div>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="this.electricityConsumptionForSpotChart.datasets"
                  [labels]="this.electricityConsumptionForSpotChart.labels"
                  [chartType]="this.electricityConsumptionForSpotChart.chartType"
                  [options]="this.electricityConsumptionForSpotChart.options">
          </canvas>
        </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="accent" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Occupation time for floor
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="getOccupationTimeAmount()" [formGroup]="this.occupationTimeAmountForm">
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Floor</mat-label>
          <input matInput type="number" min="0" formControlName="floor" required>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Start date</mat-label>
          <input matInput type="datetime-local" formControlName="startDate">
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>End date</mat-label>
          <input matInput type="datetime-local" formControlName="endDate">
        </mat-form-field>
      </p>

      <div class="d-flex flex-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="this.occupationTimeAmountForm.invalid">
          Generate
        </button>
      </div>
    </form>

    <div *ngIf="this.occupationTimeAmountChart">
      <div>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="this.occupationTimeAmountChart.datasets"
                  [labels]="this.occupationTimeAmountChart.labels"
                  [chartType]="this.occupationTimeAmountChart.chartType"
                  [options]="this.occupationTimeAmountChart.options">
          </canvas>
        </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="accent" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Occupied slots in time
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="getSpotsOccupiedInTimePeriod()" [formGroup]="this.spotsOccupiedInTimePeriodForm">
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Time</mat-label>
          <input matInput type="datetime-local" formControlName="time" required>
        </mat-form-field>
      </p>
      <p class="margin-0">
        <mat-form-field class="width-100">
          <mat-label>Floor</mat-label>
          <input matInput type="number" min="0" formControlName="floor">
        </mat-form-field>
      </p>
      <div class="d-flex flex-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="this.spotsOccupiedInTimePeriodForm.invalid">
          Generate
        </button>
      </div>
    </form>

    <mat-list class="spots-list">
      <mat-list-item *ngFor="let item of this.spotsOccupiedInTimePeriodData">
        Spot {{item}}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <mat-action-row>
      <button mat-button color="accent" (click)="prevStep()">Previous</button>
    </mat-action-row>
  </mat-expansion-panel>


</mat-accordion>
